.titoloVetrina {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  height: 25vh;
  padding-top: 100px;
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
}
