.topNav {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 18, 255, 1) 0%,
    rgba(0, 140, 231, 1) 0%,
    rgba(48, 52, 255, 1) 24%,
    rgba(0, 25, 115, 1) 59%,
    rgba(4, 13, 110, 1) 100%
  );
  box-shadow: 0px 11px 15px 6px rgba(0, 0, 0, 0.25);
  font-family: 'Poppins', sans-serif;
  padding: 1rem 0;
}

.logonav {
  width: 5rem;
}

.desktopCenter {
  padding-top: 40px;
}

/* Offcanvas Mobile */
.mobileMenu {
  background-color: #1a1a1ad7;
  text-align: center;
  width: 100%;
}

.mobileOnlyLargeText {
  font-size: 1.8rem;
}

@media (min-width: 992px) {
  .mobileOnlyLargeText {
    font-size: 1.17rem;
  }
}

/* Toggler (hamburger icon bianco) */
:global(.custom-toggler .navbar-toggler-icon) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
